{% extends "::base.html.twig" %}

{% block title %}AppBundle:Task:Remove{% endblock %}

{% block body %}
<h1>Remove tasks</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
